
:root {
    --title-font :  'Nova Round', cursive;
    --sub-title-font : 'PT Sans', sans-serif;
    
  }

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

/*Nav bar*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 3em;
    flex-flow: row wrap;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15); 

}
.header .img {
    width: 240px;
    height: 120px;
}
.header .ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .li {
    margin: 0em 1em;
}

.header .a{
    font-family: var(--sub-title-font);
    font-size: 1.4rem;
    font-weight: 400;
    color: black;
    
}

.header .a:hover {
    border-bottom:  4px solid RGB(155,0,9);
    transition: .5s cubic-bezier(0.075, 0.082, 0.165, 1);
    
}

/*Secciones*/
.section {
    width: 100%;
    min-height: 80vh;
    margin: 1em 0;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}




/*Me*/

.container__me .me__img img {
    width: 380px;
    height: 370px;
    border-radius: 50%;
    border:3px solid rgb(12, 11, 11);
}
.alexsancast h1 {
    font-family: var(--title-font);
    font-size: 4rem;
    font-weight: 600;


}

.alexsancast h2 {
    font-family: var(--sub-title-font);
    font-size: 2rem;
    font-weight: 200;
    color: RGB(104,104,104);
    border-bottom:  4px solid rgba(0,0,0,.7); 
    padding: 0.2em ;


}

.alexsancast h3 {
    font-family: var(--sub-title-font);
    font-size: 2rem;
    font-weight: 200;
    color: RGB(104,104,104);
    

}

.alexsancast__social{
    padding: 0.5em;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

/* .section__line {

    width: 100%;
    height: 1px;
    background-color:red;
    transform: scale(0);
    transform-origin: left bottom;
    transition: transform .4s;
} */

.alexsancast__social li {
    margin: 0 1em;
}

.alexsancast__social img {
    width: 35px;
    height: 35px;
}

/*About me */


.about h1 {
    margin : 0 0 1rem ;
    font-family: var(--title-font);
    font-size: 3.5rem;
    font-weight: 600;
    border-bottom:  4px solid rgba(0,0,0,.7); 
    padding: 0.2em ;


}

.about p {
    font-family: var(--sub-title-font);
    font-size: 1.4rem;
    font-weight: 200;
    color: RGB(104,104,104);
    max-width: 44em;
    margin: 0 0 1em;
    text-align: left;


}

/*Projects*/

.section__project{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    gap: 2em;

}

.section__project article {
    width: 100%;
    min-height: 20vh;
    display: flex;
    box-shadow: 2px 2px 14px -3px rgba(0,0,0,0.75);
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #E4E4E4;
    position: relative;

}

.project__avocado .project__title {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    backdrop-filter: blur(0.2rem);
    opacity: 0;
    transition: all .5s ease;
    border-radius: 20px;
    color: white;
    font-family: var(--sub-title-font);
    font-size: 2rem;
  

}

.project__avocado .project__title:hover {
    opacity: 1;

}

.projects h1 {
    margin : 0 0 1rem ;
    font-family: var(--title-font);
    font-size: 3.5rem;
    font-weight: 600;
    border-bottom:  4px solid rgba(0,0,0,.7); 
    padding: 0.2em ;

}

.section__project img {
    width: 400px;
    height: 350px;
    border-radius: 20px;
}


/*Footer*/

.footer {
    background: green;
    padding: 2em 0;
}

